@font-face {
    font-family: "raleway";
    src: url("polices/raleway.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

/* page entière */

#blocpage {
    margin: 1.1em 11em 0em 11em;
}

* {
    margin: 0em;
    padding: 0em;
}

body {
    font-family: "raleway";
}


/* header, titre principal */

header {
    display: flex;
    justify-content: space-between;
}

#titre_principal {
    display: flex;
    flex-direction: column;
    width:60em;
}

header img {
    width: 8em;
}

#sous-titres {
    margin-top: 3em;
}

h3 {
    padding-top: 0.3em;
    font-size: 0.9em;
    font-weight: 500;
}

/* Header, nav */

nav{
    height: 3em;
    width: 30em;

    margin-top: 1.1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu a:visited {
    color: rgb(0, 0, 0);

}

#inscrire {
    color: rgb(0, 47, 255);
    font-weight: bolder;
}

#inscrire a:visited {
    color: rgb(0, 47, 255);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

#hébergements {
    color: rgb(0, 140, 255);
}


/* Recherche */
    /* Recherche */

#recherche {
    height: 12em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
}

#ville {
    border-radius: 0.5em;
}

#ville i {
    text-align: center;
    padding: 0.9em 0em 1em 0em;
    width: 3em;
    border-radius: 1em 0em 0em 1em;
    background-color:#F2F2F2;

}

.case {
    width: 20em;
    padding: 0.69em 0em 0.70em 1em;
    border: none;
    border-top: solid thin #F2F2F2;
    border-bottom: solid thin #F2F2F2;
    margin-left: -0.3em;
    font-weight:600;
    font-size: 1.1em;
}

.bouton {
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 1.25em 0em 1.14em 0em;
    margin-left: -0.35em;
    border: none;
    width: 10em;
    border-radius: 0em 1em 1em 0em;
    cursor: pointer;
}

input[type="search"]{
    outline-style: none;
}

::placeholder {
    color: black;
}


    /* Filtres */

#filtres {
    font-size: 1.2em;
    width: 55em;
}

#filtres p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filtres a {
    color: black;
    display: flex;
    align-items: center;
    font-weight: 700;
    border: rgba(0, 102, 255, 0.267) solid thin;
    border-radius: 15em;
}

#filtres p :hover {
    text-decoration: none;
}

#filtres i {
    color: rgb(0, 119, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: rgba(0, 102, 255, 0.267);
}

.filtres {
    padding: 0em 1em 0em 0.5em
}


/* section */

section {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

section h2 {
    font-size: 1.1em;
    font-weight: 800;
}
 
section p {
    font-size: 0.95em;
}

.voir_plus {
    color: black;
}

.voir_plus:hover{
    text-decoration: none;
    color: black;
}

    /* Hébergement */

#hebergement {
    background-color: #F2F2F2;
    padding: 0em 1.8em 0em 1.8em;
    width: 60em;
    min-height: 42em;
    border-radius: 1em;
}

#hebergement h1 {
    padding: 2em 0em 1em 0em;
}

#hebergement ul {
    display: flex;
    flex-wrap: wrap;
}

#hebergement img {
    width: 18em;
    height: 8em;
    border-radius: 17px 17px 0px 0px;  
    object-fit: cover;
}

#hebergement li {
    border: rgb(255, 255, 255) solid 5px;
    background-color: white;
    height: 13.5em;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 2em;    
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px; 
}

#hebergement h2 {
    padding: 0.5em 0em 0.4em 0.5em;
}

#hebergement p {
    padding: 0em 0em 0.4em 0.5em;
}

.hebergement_star {
    padding-left: 0.5em;
}

.bluestar {
    font-size: 0.9em;
    color: rgb(0, 119, 255);
}

.greystar {
    font-size: 0.9em;
    color: rgb(196, 196, 196);
}

.afficher {
    font-weight: 700;
    color: black;
}


    /* Aside */

aside {
    background-color: #F2F2F2;
    width: 25em;
    height: auto;
    padding: 0em 1.8em 0em 1.8em;
    border-radius: 1em;
}

#titre_aside {
    display: flex;
    justify-content: space-between;
    padding: 2em 0em 1em 0em;
}

#titre_aside i {
    font-size: 1.3em;
}

aside ul{
    display: flex;
    flex-direction: column;
}

aside img {
    width: 9em;
    height: 10em;
    border-radius: 17px 0px 0px 17px;
    object-fit: cover;

}

aside li {
    background-color: white;
    border: white solid 5px;
    border-radius: 20px;
    margin-top: 1.4em;
    width: 22em;
    padding-right: 1.5em;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
}

aside a {
    display: flex;
}

.aside_description {
    padding-left: 1em;
    padding-top: 1em;
    
}

aside p {
    padding-top: 0.5em;
}

.aside_star {
    padding-top: 3em;
}


    /* activités */

#activités {
    height: 35em;
    width: 100%;
    margin-top: 4em;
}

#activités h1{
    margin-bottom: 1em;
}

#activités ul {
    display: flex;
    justify-content: space-between;
}

#activités img {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.big_pics {
    width: 23em;
    height: 26em;
}

.big_pics_name {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
    height: 29em;
}

.little_pics {
    width: 23em;
    height: 10.5em;
}

.little_pics_name {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
    height: 13.5em;
}

.pomègues {
    width: 23em;
    height: 13em;
}

.pomègues_name {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
    height: 16em;
}

.frioul {
    width: 23em;
    height: 8em;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
}

.frioul_name {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
    height: 11em;
}

.colonne {
    height: 29em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activités h2 {
    padding: 0.5em 0em 0em 1em;
}


/* Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    padding-bottom: 3em;
}

.infos {
    padding-top: 1em;
}

.infos h1 {
    font-size: 1.3em;
    padding-bottom: 0.5em;
}

.infos p {
    padding-top: 0.5em;
}

#a_propos {
    padding-left: 15em;
    padding-right: 18em;
}

#nos_hebergements {
    padding-right: 18em
}

footer a {
    color: black;
}