* {box-sizing: border-box;}
html,body,ul,li,h1,h2,h3,h4,h5,p,img {margin: 0; padding: 0; font-weight: normal;}
body {font-size: 16px; font-weight: normal;}
h1,h2,h3,h4,h5,p {font-size: 1rem;}
img {display: block;}
a {color: black; text-decoration: none;}
ul {list-style-type: none;}



@font-face {
    font-family: "raleway";
    src: url("polices/raleway.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

/* page entière */ 

#blocpage {
    margin: 1.1em auto 0em auto;
    max-width: 100em;
}

body {
    font-family: "raleway";
}


/* header, titre principal */

header {
    display: flex;
    justify-content: space-between;
}

#titre_principal {
    display: flex;
    flex-direction: column;
    width:auto;
}

header img {
    width: 8em;
}

#sous-titres {
    margin-top: 3em;
}

header h2 {
    font-size: 1.3em;
    font-weight: 700;
}

header h3 {
    padding-top: 0.3em;
    font-size: 0.9em;
    font-weight: 500;
}

/* Header, nav */

nav{
    height: 3em;
    width: 30em;
    margin-top: 1.1em;
}

#nav1 {

}

#nav1 a{
    color: blue;
    border-top: blue solid 3px;
    padding-top: 2em;
}

a:hover {
    text-decoration: underline;
}

#inscrire {
    color: rgb(0, 47, 255);
    font-weight: bolder;
}

#inscrire a:visited {
    color: rgb(0, 47, 255);
}

nav a {
    padding: 0em 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

#hébergements {
    color: rgb(0, 140, 255);
}


/* Recherche */
    /* Recherche */

#recherche {
    height: 12em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
}

#ville {
    border-radius: 0.5em;
}

#ville i {
    text-align: center;
    padding: 1em 0;
    width: 45px;
    border-radius: 1em 0em 0em 1em;
    background-color:#F2F2F2;

}

#ville p {
    display: flex;
}

.case {
    width: 20em;
    padding-left: 1em;
    border: none;
    border-top: solid thin #F2F2F2;
    border-bottom: solid thin #F2F2F2;
    font-weight:600;
    font-size: 1.1em;
}

.bouton {
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    width: 10em;
    border-radius: 0em 1em 1em 0em;
    cursor: pointer;
}

input[type="search"]{
    outline-style: none;
}

::placeholder {
    color: black;
}


    /* Filtres */

#filtres {
    font-size: 1.2em;
    max-width: 55em;
}

#filtres p{
    margin: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    flex-wrap: wrap;

}

#filtres a {
    color: black;
    display: flex;
    align-items: center;
    font-weight: 700;
    border: rgba(0, 102, 255, 0.267) solid thin;
    border-radius: 15em;
    margin: 0.5em 0.3em;
}

#filtres p :hover {
    text-decoration: none;
}

#filtres i {
    color: rgb(0, 119, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: rgba(0, 102, 255, 0.267);
}

.filtres {
    padding: 0em 1em 0em 0.5em
}


/* section */


section {
    margin-top: 2.5em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}

section h2 {
    font-size: 1.1em;
    font-weight: 800;
}
 
section p {
    font-size: 0.95em;
}

.voir_plus {
    color: black;
}

.voir_plus:hover{
    text-decoration: none;
    color: black;
}

    /* Hébergement */

#hebergement {
    background-color: #F2F2F2;
    padding: 0em 1.8em 0em 1.8em;
    width: 65em;
    min-height: 42em;
    border-radius: 1em;
    order: 2;
}

#hebergement h1 {
    padding: 2em 0em 1.5em 0em;
    font-weight: 700;
    font-size: 1.2em;
}

#hebergement ul {
    display: flex;
    flex-wrap: wrap;

}

#hebergement img {
    width: 100%;
    height: 8em;
    border-radius: 17px 17px 0px 0px;  
    object-fit: cover;
}

#hebergement li {
    border: rgb(255, 255, 255) solid 5px;
    background-color: white;
    height: 13.8em;
    border-radius: 20px;
    text-align: left;
    margin: 1.5em 1em; 
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px; 
    flex: 1;
    min-width: 18em;
}

#hebergement h2 {
    padding: 0.5em 0em 0.4em 0.5em;
}

#hebergement p {
    padding: 0em 0em 0.4em 0.5em;
}

.hebergement_star {
    padding-left: 0.5em;
}

.bluestar {
    font-size: 0.9em;
    color: rgb(0, 119, 255);
}

.greystar {
    font-size: 0.9em;
    color: rgb(196, 196, 196);
}

.afficher {
    font-weight: 700;
    color: black;
}


    /* Aside */

aside {
    background-color: #F2F2F2;
    width: 26em;
    height: auto;
    padding: 0em 1.8em 0em 1.8em;
    border-radius: 1em;
    order: 1;
    margin: 0 auto;
}

#titre_aside {
    display: flex;
    justify-content: space-between;
    padding: 2em 0em 1em 0em;
}

aside h1 {
    font-weight: 700;
    font-size: 1.2em;
}

#titre_aside i {
    font-size: 1.3em;
}

aside ul{
    display: flex;
    flex-direction: column;
}

aside img {
    min-width: 9em;
    max-width: 9em;
    height: 10em;
    border-radius: 17px 0px 0px 17px;
    object-fit: cover;
}

aside li {
    background-color: white;
    border: white solid 5px;
    border-radius: 20px;
    margin-top: 1.4em;
    width: 22em;
    padding-right: 1.5em;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
    flex: 1;
}

aside a {
    display: flex;
}

.aside_description {
    padding-left: 1em;
    padding-top: 1em;
    
}

aside p {
    padding-top: 0.5em;
}

.aside_star {
    padding-top: 3em;
}


    /* activités */

#activités {
    min-height: 35em;
    width: 100em;
    margin-top: 4em;
    order: 3;
}

#activités h1{
    margin-bottom: 1em;
}

#activités ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#activités img {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.big_pics {
    width: 23em;
    height: 26em;
}

.big_pics_name {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
    height: 28.5em;
}

.little_pics {
    width: 23em;
    height: 10.5em;
}

.little_pics_name {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
    height: 13em;
}

.pomègues {
    width: 23em;
    height: 13em;
}

.pomègues_name {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
    height: 15.5em;
}

.frioul {
    width: 23em;
    height: 8.5em;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
}

.frioul_name {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(129, 129, 129) 0px 0px 18px 1px;
    height: 11em;
}

.colonne {
    max-height: 28.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activités h1 {
    font-weight: 700;
    font-size: 1.2em;
}

#activités h2 {
    padding: 0.5em 0em 0em 1em;
}


/* Footer */

footer {
    position: absolute;
    left: 0em;
    width: 100%;
    background-color: #F2F2F2;
    padding-bottom: 3em;
    
}

#infos {
    display: flex;
    flex-wrap: wrap;
    max-width: 100em;
    margin: 0 auto;
}

.infos {
    width: 30%;
    padding-top: 1em;
}

.infos h1 {
    font-size: 1.3em;
    padding-bottom: 0.5em;
    font-weight: 600;
}

.infos p {
    padding-top: 0.5em;
}

footer a {
    color: black;
}

/* @media screen and (max-width: 1620px) {
    #hebergement {
        width: 100%;
    } */